name: Automatically update files.dat on folders that have recently been changed.

on:
 push:
  branches: [main,master]

jobs:
 update_files:
  runs-on: ubuntu-latest
  steps:
   - name: Update _files.dat
     run: |
      find . -type f -name "_files.dat" | while read -r file; do
       dir="$(dirname "$file")"
       (
        cd "$dir" || exit
        find . -maxdepth 1 -type f ! -name "_files.dat" -printf "%P\n" | sort > _files.dat
       )
      done
