name: Update _files.txt

on:
 push:
  branches: [main,master]

jobs:
 update_files:
  runs-on: ubuntu-latest
  steps:
   - name: Update _files.txt
     run: |
      find . -type f -name "_files.txt" | while read -r file; do
       dir="$(dirname "$file")"
       (
        cd "$dir" || exit
        find . -maxdepth 1 -type f ! -name "_files.txt" -printf "%P\n" | sort > _files.txt
       )
      done
